.container {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}
.contentContainer {
  display: block;
  margin: 24px;
  @media (min-width: 768px) {
    margin: 48px;
  }
  @media (min-width: 1024px) {
    margin: 48px 0;
  }
  @media (min-width: 1280px) {
    margin: 96px 0;
  }
}
.title {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 18px;
  @media (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 38px;
  }
  @media (min-width: 1280px) {
    font-size: 40px;
    margin-bottom: 48px;
  }
}
