.container {
  position: sticky;
  top: 0;
  z-index: 9;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 24px;

  max-width: 1200px;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    padding: 10px 40px;
  }
  @media (min-width: 1024px) {
    padding: 10px 64px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.logoImg{
    width: 60px;
    height: 60px;
    @media (min-width: 1024px) {
      width: 60px;
      height: 60px;
    }
}
.brandName{
  display: none;
  @media (min-width: 1024px) {
    display: block;
    font-size: 15px;
    font-weight: 600;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.navBarM {
  display: block;
  @media (min-width: 1024px) {
    display: none;
  }
}

.navBar {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    gap: 5px;
  }
}

.navBarItem {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.5s ease;

  text-decoration: none;

  &:hover {
    background-color: #333396;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  @media (min-width: 1280px) {
    font-size: 18px;
  }
}