:root {
  --background-color: #fff;
  --secondary-color: #f3f3f3;
  --padding: 16px;
}
body {
  background: var(--background-color);
  color: var(--foreground);
  margin: 0;
}
p {
  margin: 0;
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 42px;
  @media (min-width: 768px) { font-size: 48px; }
  @media (min-width: 1024px) { font-size: 54px; }
  @media (min-width: 1280px) { font-size: 60px; }
}

h2 {
  font-size: 36px;
  @media (min-width: 768px) { font-size: 38px; }
  @media (min-width: 1024px) { font-size: 40px; }
  @media (min-width: 1280px) { font-size: 42px; }
}

h3 {
  font-size: 32px;
  @media (min-width: 768px) { font-size: 34px; }
  @media (min-width: 1024px) { font-size: 36px; }
  @media (min-width: 1280px) { font-size: 38px; }
}

h4 {
  font-size: 28px;
  @media (min-width: 768px) { font-size: 30px; }
  @media (min-width: 1024px) { font-size: 32px; }
  @media (min-width: 1280px) { font-size: 34px; }
}

h5 {
  font-size: 24px;
  @media (min-width: 768px) { font-size: 26px; }
  @media (min-width: 1024px) { font-size: 28px; }
  @media (min-width: 1280px) { font-size: 30px; }
}

h6 {
  font-size: 20px;
  @media (min-width: 768px) { font-size: 22px; }
  @media (min-width: 1024px) { font-size: 24px; }
  @media (min-width: 1280px) { font-size: 26px; }
}

.title {
  font-size: 36px;
  font-weight: 600;
  background: linear-gradient(270deg, #4e2a84 0, #ff1253 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 38px;
  }

  @media (min-width: 1024px) {
    font-size: 40px;
  }

  @media (min-width: 1280px) {
    font-size: 42px;
  }
}
/* contacts */
.contacts {
  position: fixed;
  bottom: 24px;
  right: 24px;

  display: flex;
  flex-direction: column;
  gap: 10px;;
}
@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); } /* zoom to 110% */
}
.contactIcon {
  display: inline-block;
  animation: zoom 0.5s ease-in-out infinite;
}
