.container {
  display: block;
}

.block {
  display: block;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 24px;

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 1024px) {
    padding: 64px;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
    max-width: 1200px;
    margin: 80px auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(270deg, #4e2a84 0, #ff1253 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1024px) {
    font-size: 28px;
  }

  @media (min-width: 1280px) {
    font-size: 32px;
  }
}

.description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #18188a;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1024px) {
    font-size: 16px;
    gap: 15px;
  }
  @media (min-width: 1280px) {
    font-size: 20px;
    gap: 20px;
  }
}

.bullet {
  position: relative;
  padding-left: 18px;
  margin: 0;
}

.bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  background-color: #01011d;
  border-radius: 50%;

  @media (min-width: 1024px) {
    top: 8px;
    width: 6px;
    height: 6px;
  }

  @media (min-width: 1280px) {
    top: 11px;
    width: 8px;
    height: 8px;
  }
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  border-radius: 10px;

  @media (min-width: 1024px) {
    width: 350px;
  }

  @media (min-width: 1280px) {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .even {
    flex-direction: row-reverse;
  }

  .odd {
    flex-direction: row;
  }
}
