.container {
  display: block;
}
.aboutContainer {
  display: block;
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (min-width: 768px) {
    margin: 48px;
    gap: 48px;
  }
  @media (min-width: 1024px) {
    margin: 48px 64px;
    gap: 64px;
  }
  @media (min-width: 1280px) {
    max-width: 1200px;
    margin: 96px auto;
  }
}
